{% extends 'inventory/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block title %} Ingredients list {% endblock %}
  </head>
  <body>
    <h1>List of available ingredients:</h1>
    {% block content %}
    <a href="{% url 'ingredient_create'  %}">Add +</a>
    <table>
      <thead>
        <th>ingredient</th>
        <th>quantity</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
          {% if ingredient.quantity %}
            <tr><td>{{ ingredient.name }}</td> <td>{{ ingredient.quantity }}</td> <td><a href="{% url 'ingredient_update' pk=ingredient.pk  %}">edit</a></td> <td><a href="{% url 'ingredient_delete_all' pk=ingredient.pk  %}">remove</a></td></tr>
          {% endif %}
        {% empty %}
        <li>No objects found.</li>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </body>
</html>
